@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-navy: #1A2433;
  --color-brand-gold: #C5A67A;
  --color-brand-lightgold: #D8C1A0;
  --color-brand-dark: #111827;
  --color-brand-light: #F8F9FA;
  --color-brand-beige: #F1E9DE;

  --font-serif: "EB Garamond", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased text-brand-dark bg-brand-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-brand-navy font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-brand-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#C5A67A] rounded-full hover:bg-[#A9895B] transition-colors;
}